p {
    background-color: red;
  }

#inny {
    background-color: blue;
  }
  
.blog {
    background-color: beige;
  }
  
div.blog p {
    background-color: pink;
  }
  
#rodzic > p {
    background-color: orange;
  }
  
#other ~ p {
    background-color: brown;
  }
  
#inny + p {
    background-color: purple;
  }

  h1, h2, h3, h4, h5 {
    background-color: green;
  }
  
  div.important {
    background-color: green;
  }
  
  div.white * {
    background-color: blue;
  }

  
  [type="submit"] {
    background-color: blue;
  }
  
  [type~="email"] {
    background-color: green;
  }
  
  [class*="main-width"] {
    background-color: red;
  }
  
  [class^="main-width"] {
    background-color: pink;
  }