p {
    background-color: red;
  }

#inny {
    background-color: blue;
  }
  
.blog {
    background-color: beige;
  }
  
div.blog p {
    background-color: pink;
  }
  
#rodzic > p {
    background-color: orange;
  }
  
#other ~ p {
    background-color: brown;
  }
  
#inny + p {
    background-color: purple;
  }