.popup {
    width: 400px;
    height: 100px;
    background-color: beige;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    vertical-align: center;
    font-weight: 700;
    line-height: 100px;
    font-size: 50px;
    text-transform: uppercase;
}

.ellipse {
    background-color: lime;
    width: 200px;
    height: 100px;
    border-radius: 75%;
}

.circle {
    background-color: lime;
    width: 200px;
    height: 200px;
    border-radius: 75%;
}

.lime {
    background-color: lime;
    width: 200px;
    height: 200px;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
}